body {
  margin: 0;
}
/////////////////////// VARIABLE & MIXINS /////////////////////////////////
$main-color: #d1af76;
$main-color-hover: #a1875a;
$second-color: #898989;
$color-white: #fff;

$main-font-family: "EB Garamond", serif;

/*

#9a9a9a


*/
