body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/////////////////////// VARIABLE & MIXINS /////////////////////////////////
$main-color: #d1af76;
$main-color-hover: #a1875a;
$second-color: #898989;
$color-white: #fff;

$main-font-family: "EB Garamond", serif;

/*

#9a9a9a


*/
