.about-container {
  display: flex;
  height: 800px;
}

.back-img {
  position: absolute;
  background-image: url(../Images/ratAbout1.jpg);
  background-size: 170%;
  background-repeat: no-repeat;
  top: 650px;
  left: 890px;
  width: 250px;
  height: 280px;
  transform: scaleX(-1);
}

.back-img-foot {
  position: absolute;
  width: 60px;
  height: 60px;
  opacity: 0.5;
}
.foot1 {
  top: 800px;
  right: 700px;
  rotate: (260deg);
}
.foot2 {
  top: 850px;
  right: 500px;
  rotate: (280deg);
}
.foot3 {
  top: 790px;
  right: 300px;
  rotate: (240deg);
}
.foot4 {
  top: 850px;
  right: 100px;
  rotate: (280deg);
}

.about-content {
  display: flex;
  margin-top: 100px;
}
.about-text {
  width: 40%;
  font-size: 20px;
  padding: 5px;
  font-family: $main-font-family;
  color: $second-color;
  margin-top: 100px;
  margin-left: 100px;
  font-weight: 400;
  span {
    color: $main-color;
  }
}
.about-parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 170px;
  width: 700px;
}
.about-title {
  position: relative;
  font-size: 28px;
  border-bottom: 3px solid $main-color;
  top: 0px;
  left: -95px;
}

.parent {
  background-color: $second-color;
  background-size: cover;
  background-position: center;
  width: 450px;
  height: 250px;
  margin-top: 20px;
}

.parent.one {
  background-image: url("../Images/parent1.jpg");
}

.parent.two {
  background-image: url("../Images/parent2.jpg");
}

@media screen and (max-width: 1910px) {
  .back-img {
    background-color: red;
    display: none;
  }

  .back-img-foot {
    background-color: red;
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .about-container {
    display: flex;
    height: 800px;
    margin-top: 0px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 700px;
    margin-top: 100px;
  }
  .about-text {
    width: 300px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 0;
  }
  .about-parent {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 0px;
    width: 300px;
  }
  .about-title {
    position: relative;
    font-size: 28px;
    top: 0px;
    left: 0px;
  }
  .about-line {
    position: relative;
    background-color: $main-color;
    width: 255px;
    height: 3px;
    top: -20px;
    right: 0px;
  }
  .parent {
    background-color: $second-color;
    width: 280px;
    height: 200px;
    margin-top: 20px;
  }
}
