.babiesAc-container {
  position: relative;
  display: flex;
  top: 150px;
  left: 100px;
  z-index: -2;
}
.babiesAc-port-actu {
  font-family: $main-font-family;
  font-size: 22px;
  color: $second-color;
  span {
    color: $main-color;
  }
}
.babiesAc-img {
  width: 800px;
  height: 500px;
  margin: 100px 100px;
}

.act-babies {
  width: 500px;
  height: 400px;
}

.noActu-box {
  text-align: center;
  width: 500px;
  height: 400px;
  font-size: 24px;
  border: 5px solid $main-color;
  border-radius: 20px;
  p {
    margin: 140px 85px;
    color: $second-color;
    font-family: $main-font-family;
    span {
      color: $main-color;
    }
  }
}
.actu-box {
  background-image: url("../Components/BodyComponents/BabiesAct/actuImg.jpg");
  background-size: cover;
  background-position: center;
  width: 485px;
  height: 400px;
}

.act-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  .champ-email {
    text-align: center;
    width: 250px;
    padding: 5px;
  }
}

.act-sign {
  width: 500px;
  text-align: center;
  margin-top: 20px;
  p {
    color: $second-color;
    font-size: 18px;
    font-family: $main-font-family;
  }
  span {
    color: $main-color;
  }
}
.act-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.champ-email {
  text-align: center;
  width: 250px;
  padding: 5px;
}

.champ-btn-submit {
  color: $color-white;
  background-color: $main-color;
  font-size: 20px;
  width: 120px;
  height: 50px;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: margin-top 0.2s;
}
.champ-btn-submit:hover {
  margin-top: 17px;
}

.champ-btn-submit:active {
  background-color: $main-color-hover;
}

.post-succes {
  position: relative;
  color: $main-color;
  font-family: $main-font-family;
  font-size: 20px;
  width: 200px;
  height: 20px;
  bottom: 20px;
}

@media screen and (max-width: 1615px) {
  .babiesAc-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .babiesAc-img {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .babiesAc-container {
    position: relative;
    display: flex;
    top: 100px;
    left: 40px;
  }

  .babiesAc-port-actu {
    font-family: $main-font-family;
    font-size: 22px;
    color: $second-color;
    margin-left: 30px;
    span {
      color: $main-color;
    }
  }

  .act-babies {
    width: 300px;
    height: 200px;
    .noActu-box {
      text-align: center;
      width: 330px;
      height: 250px;
      font-size: 20px;
      margin: 30px -20px;
      border: 5px solid $main-color;
      border-radius: 20px;
      p {
        margin: 40px 85px;
        font-size: 20px;
      }
    }
  }

  .actu-box {
    width: 300px;
    height: 200px;
  }

  .act-sign {
    width: 300px;
    text-align: center;
    margin-top: 60px;
    p {
      font-family: $main-font-family;
      font-size: 20px;
      color: $second-color;
      span {
        color: $main-color;
      }
    }
  }

  .act-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    .champ-email {
      text-align: center;
      width: 250px;
      padding: 5px;
      font-size: 20px;
      border: 1px solid #666;
    }
  }
  .champ-btn-submit {
    color: $color-white;
    background-color: $main-color;
    font-size: 20px;
    width: 120px;
    height: 50px;
    margin: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: margin-top 0.2s;
  }
  .champ-btn-submit:hover {
    margin-top: 17px;
  }

  .champ-btn-submit:active {
    background-color: $main-color-hover;
  }
}
