.header-page {
  position: fixed;
  display: flex;
  background-color: #fff;
  justify-content: flex-end;
  font-family: $main-font-family;
  width: 100%;
  height: 100px;
  z-index: 5;
}

.header-title {
  position: relative;
  top: 0px;
  display: flex;
  width: 500px;
  height: 83px;
  border-bottom: 3px solid $main-color;
}

.h1-header {
  font-size: 54px;
  text-decoration: none;
  color: $main-color;
  margin-top: -75px;
  margin-left: 105px;
}

h1 {
  font-weight: 200;
}

///////////// NAVBAR ///////////////

.menu {
  position: relative;
  width: 700px;
  min-width: 530px;
  margin: 20px 50px;
}

.menu-content {
  display: flex;
  justify-content: space-evenly;
  font-size: 26px;
}

.nav-li {
  transform: translateY(0px);
  transition: transform 0.2s;
}

.nav-li:hover {
  transform: translateY(-5px);
  pointer-events: auto;
  cursor: pointer;
}

.item-nav {
  position: relative;
  text-decoration: none;
  padding: 5px;
  color: $main-color;
}
.item-nav.g {
  color: $second-color;
  transition: background-color 0.15s, color 0.2s;
}

.item-nav.g:hover {
  background-color: $main-color;
  color: $color-white;
}

.dropdown-r-content {
  position: fixed;
  width: 55px;
  height: 40px;
  top: 35px;
  transform-origin: top center;
  transition: background-color 0.2s;
}

.li-net {
  position: relative;
  background-color: $main-color;
  width: 95px;
  height: 40px;
  left: -40px;
  .network-li {
    text-decoration: none;
    font-size: 18px;
    color: $color-white;
    font-family: $main-font-family;
    margin-left: 12px;
  }
}

.dropdown-p-content {
  position: fixed;
  transform-origin: top center;
}
.li-por {
  position: relative;
  background-color: $main-color;
  width: 85px;
  height: 40px;
  left: -40px;
  transform-origin: top center;
  .portee-li {
    text-decoration: none;
    font-size: 18px;
    color: $color-white;
    font-family: $main-font-family;
    margin-left: 10px;
  }
}

li {
  list-style: none;
}

@media screen and (max-width: 1150px) {
  .header-title {
    height: 90px;
    border-bottom: 3px solid $main-color;
  }

  .h1-header {
    font-size: 35px;
    margin-top: -45px;
  }
}

@media screen and (max-width: 1000px) {
  .header-title {
    width: 300px;
    height: 70px;
    margin-left: 20px;
    border-bottom: 3px solid $main-color;
  }

  .h1-header {
    font-size: 24px;
    margin-top: -20px;
    margin-left: 20px;
  }

  .menu {
    position: relative;
    width: 40%;
    height: 40px;
    min-width: 0px;
    margin-top: 25px;
    margin-left: 30px;
  }

  .menu-content {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 600px;
    top: 100px;
    left: 25px;
  }

  .dropdown-r-content {
    position: relative;
    left: 52px;
    top: 0px;
  }

  .li-net {
    width: 114px;
    height: 50px;
    left: -49px;
    .network-li {
      font-size: 20px;
      margin-left: 5px;
    }
  }

  .dropdown-p-content {
    position: relative;
  }

  .li-por {
    width: 102px;
    height: 50px;
    left: 9px;
    .portee-li {
      font-size: 20px;
      margin-left: 0px;
    }
  }
}
