.header-page {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  font-family: $main-font-family;
}

.header-title {
  display: flex;
  width: 600px;
  border-bottom: 4px solid $main-color;
}

.h1-header {
  font-size: 50px;
  text-decoration: none;
  color: $main-color;
  margin-top: -90px;
  margin-left: 110px;
}

h1 {
  font-weight: 200;
}

///////////// NAVBAR ///////////////

.menu {
  position: relative;
  width: 700px;
  min-width: 530px;
  margin: 20px 50px;
}

.menu-content {
  display: flex;
  justify-content: space-evenly;
  font-size: 26px;
}
.nav-li {
  transform: translateY(0px);
  transition: transform 0.2s;
}

.nav-li:hover {
  transform: translateY(-5px);
  pointer-events: auto;
  cursor: pointer;
}

.item-nav {
  position: relative;
  text-decoration: none;
  padding: 5px;
  color: $main-color;
}
.item-nav.g {
  color: $second-color;
  transition: background-color 0.15s, color 0.2s;
}

.item-nav.g:hover {
  background-color: $main-color;
  color: $color-white;
}

.dropdown-r-content {
  position: fixed;
  width: 55px;
  height: 40px;
  top: 35px;
  transition: background-color 0.2s;
}
.li-net {
  position: relative;
  background-color: $main-color;
  width: 95px;
  height: 40px;
  left: -40px;
  .network-li {
    text-decoration: none;
    font-size: 18px;
    color: $color-white;
    font-family: $main-font-family;
    margin-left: 12px;
  }
}

.dropdown-p-content {
  position: fixed;
  width: 44px;
}
.li-por {
  position: relative;
  background-color: $main-color;
  width: 84px;
  height: 40px;
  left: -40px;
  .portee-li {
    text-decoration: none;
    font-size: 18px;
    color: $color-white;
    font-family: $main-font-family;
    margin-left: 10px;
  }
}

li {
  list-style: none;
}

@media screen and (max-width: 1150px) {
  .header-title {
    display: flex;
    width: 600px;
    height: 90px;
    border-bottom: 3px solid $main-color;
  }
  .h1-header {
    font-size: 35px;
    text-decoration: none;
    color: $main-color;
    margin-top: -45px;
    margin-left: 110px;
  }
}
