@import "../index.scss";
@import "./Reserv.scss";
@import "./Header&Nav.scss";

.App {
  height: 975px;
  box-shadow: -20px -0px 50px inset #bbb, 20px 10px 80px inset #ccc;
}

//// BODY //////////
/// Acceuil

.image-acc {
  position: absolute;
  width: 700px;
  height: 600px;
  left: 150px;
  top: 170px;
}

.image-foot {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0.4;
}

.imf1 {
  left: 530px;
  top: 670px;
  transform: rotate(300deg);
}

.imf2 {
  left: 800px;
  top: 720px;
  transform: rotate(240deg);
}

.imf3 {
  left: 1050px;
  top: 630px;
  transform: rotate(270deg);
}

.imf4 {
  left: 1300px;
  top: 730px;
  transform: rotate(330deg);
}

.main-content {
  position: absolute;
  right: 300px;
  top: 350px;
  width: 600px;
  font-size: 24px;
  color: $second-color;
  font-family: $main-font-family;
  span {
    color: $main-color;
  }
}
