@import "../index.scss";
@import "./Reserv.scss";
@import "./Header&Nav.scss";
@import "./Prices.scss";
@import "./BabiesAct.scss";
@import "./About.scss";
@import "./OldBabies.scss";
@import "./Notice.scss";
@import "./Phone/NavPhone.scss";

//// BODY //////////
/// Acceuil

.body-container {
  display: flex;
  height: 100vh;
}

.image-acc {
  position: absolute;
  object-fit: cover;
  width: 750px;
  height: 560px;
  left: 150px;
  top: 160px;
  z-index: 0;
  transition: top 0.2s;
}
.image-acc:hover {
  top: 150px;
}

.image-foot {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0.4;
  transition: opacity 0.2s;
}

.image-foot:hover {
  opacity: 0.6;
}

.imf1 {
  left: 530px;
  top: 710px;
  transform: rotate(300deg);
  z-index: 2;
}

.imf2 {
  left: 800px;
  top: 720px;
  transform: rotate(240deg);
}

.imf3 {
  left: 1050px;
  top: 630px;
  transform: rotate(270deg);
}

.imf4 {
  left: 1300px;
  top: 730px;
  transform: rotate(330deg);
}

.main-content {
  position: absolute;
  right: 300px;
  top: 350px;
  width: 35%;
  font-size: 26px;
  color: $second-color;
  font-family: $main-font-family;
}

.underline {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $main-color;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $main-color;
  transform-origin: right;
  transition: transform 0.25s ease-out;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media screen and (max-width: 1600px) {
  .main-content {
    right: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .image-acc {
    width: 200px;
    height: 200px;
    left: 80px;
    top: 90px;
    z-index: -2;
  }

  .image-foot {
    width: 80px;
    height: 80px;
    z-index: -2;
  }

  .imf1 {
    left: 0px;
    top: 420px;
    transform: rotate(260deg);
  }

  .imf2 {
    left: 105px;
    top: 460px;
    transform: rotate(300deg);
  }

  .imf3 {
    left: 190px;
    top: 500px;
    transform: rotate(330deg);
  }

  .imf4 {
    left: 260px;
    top: 560px;
    transform: rotate(320deg);
  }

  .main-content {
    position: relative;
    text-align: center;
    left: 0px;
    top: 250px;
    width: 300px;
    font-size: 20px;
    z-index: -2;
  }
}
