.menu-page {
  width: 200px;
  height: 200px;
  .menu-title {
    position: absolute;
    left: 18%;
    top: 0px;
    h1 {
      font-size: 52px;
      font-family: $main-font-family;
      color: $main-color;
    }
    .menu-line {
      position: absolute;
      background-color: $main-color;
      width: 253px;
      height: 2px;
      top: 95px;
    }
  }

  @media screen and (max-width: 1000px) {
    .menu {
      display: inline-block;

      width: 800px;
      height: 700px;
      .menu-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        font-family: $main-font-family;
        height: 600px;
        width: 200px;
        margin: 100px 70px;
        font-size: 32px;
      }
    }
  }
  .nav-li {
    transform: translateY(0px);
    transition: transform 0.2s;
  }

  .nav-li:hover {
    transform: translateY(-5px);
  }

  .item-nav {
    position: relative;
    text-decoration: none;
    padding: 5px;
    color: $main-color;
  }
  .item-nav.g {
    color: $second-color;
    transition: background-color 0.15s, color 0.2s;
  }

  .item-nav.g:hover {
    background-color: $main-color;
    color: $color-white;
  }

  .dropdown-r-content {
    position: relative;
    width: 55px;
    height: 40px;
    left: 52px;
    top: 0px;
    transition: background-color 0.2s;
  }
  .li-net {
    position: relative;
    background-color: $main-color;
    width: 114px;
    height: 50px;
    left: -49px;
    .network-li {
      text-decoration: none;
      font-size: 20px;
      color: $color-white;
      margin-left: 5px;
    }
  }

  .dropdown-p-content {
    position: relative;
    width: 44px;
  }
  .li-por {
    position: relative;
    background-color: $main-color;
    width: 102px;
    height: 50px;
    left: 9px;
    .portee-li {
      text-decoration: none;
      font-size: 20px;
      color: $color-white;
      margin-left: 0px;
    }
  }

  li {
    list-style: none;
  }
}
