.notice-link {
  position: absolute;
  top: 150px;
  right: 50px;
  span {
    color: $main-color;
    font-size: 30px;
  }
}

.box-notice-link {
  position: relative;
  background-color: #fff;
  border-bottom: 2px solid $main-color;
  padding-left: 15px;
  cursor: pointer;
  z-index: 3;
  .link-notice {
    text-decoration: none;
  }
}

.star {
  color: $main-color;
  font-size: 24px;
  margin-left: 10px;
}

.notice-hover-text {
  position: relative;
  color: $second-color;
  font-size: 18px;
  margin-left: 3px;
  z-index: 0;
}

//////////////// Notice Page

.notice-page {
  display: inline-block;
  width: 100%;
}

.notice-descript-box {
  position: absolute;
  top: 125px;
  right: 0;
  width: 390px;
  height: 850px;
  background-color: $second-color;
  font-family: $main-font-family;
  transform-origin: bottom;
  z-index: 1;
  .p1 {
    width: 300px;
    margin-left: 50px;
    color: #fff;
    font-size: 30px;
  }
  .p2 {
    width: 300px;
    margin: 170px 50px;
    color: rgb(221, 221, 221);
    font-size: 22px;
  }
}

.interface {
  background-color: $main-color;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 675px;
  width: 80%;
  height: 300px;
  transform-origin: left;
}

.interface-box-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interface-box-connect.none {
  display: none;
}

.btn-connect {
  margin-top: 80px;
  padding: 30px;
  background-color: #fff;
  color: $main-color;
  text-decoration: none;
  font-size: 30px;
  font-family: $main-font-family;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-connect:hover {
  background-color: $main-color;
  color: #fff;
}

.text-write-submit {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  margin-top: 50px;
}

.notice-input-text {
  font-family: $main-font-family;
  font-size: 24px;
  resize: none;
}

.btn-submit {
  height: 120px;
  padding: 40px;
  margin-top: 30px;
  background-color: #fff;
  color: $main-color;
  text-decoration: none;
  font-size: 30px;
  font-family: $main-font-family;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-submit:hover {
  background-color: $main-color;
  color: #fff;
}

.btn-submit.none {
  display: none;
}

.submit-result {
  height: 50px;
  padding: 30px;
  margin-top: 30px;
  background-color: #fff;
  color: $main-color;
  text-decoration: none;
  font-size: 30px;
  font-family: $main-font-family;
}

.submit-result.none {
  display: none;
}

.notice-connect.none {
  display: none;
}

.write-box {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}

.write-box.none {
  display: none;
}

.forbid-box {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #fff;
  top: 50px;
  height: 170px;
  text-align: center;
  p {
    font-size: 26px;
    width: 80%;
    color: $second-color;
    font-family: $main-font-family;
    span {
      color: $main-color;
    }
  }
}

.forbid-box.none {
  display: none;
}

.notice-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 570px;
  width: 75%;
  margin-top: 100px;
}

.notice-content {
  width: 80%;
  height: 150px;
  margin-left: 100px;
  h6 {
    position: relative;
    bottom: 0px;
    font-size: 26px;
    color: $main-color;
    font-family: $main-font-family;
  }
  p {
    position: relative;
    bottom: 50px;
    left: 20px;
    width: 90%;
    font-size: 20px;
    color: $second-color;
    font-family: $main-font-family;
  }
}
/// BTN LINK
@media screen and (max-width: 1000px) {
  .notice-link {
    position: relative;
    top: 250px;
    right: 0px;
    left: 100px;
    width: 95px;
    span {
      font-size: 24px;
    }
  }

  .star {
    font-size: 22px;
    margin-left: 5px;
  }

  .box-notice-link {
    padding-left: 10px;
  }

  .notice-hover-text {
    font-size: 13px;
    margin-left: 2px;
    margin-top: 15px;
  }
}
///////////////////////////
@media screen and (max-width: 1600px) {
  .notice-descript-box {
    width: 250px;
    height: 850px;
    .p1 {
      width: 200px;
      font-size: 24px;
    }
    .p2 {
      width: 200px;
      font-size: 18px;
    }
  }

  .interface {
    width: 85%;
  }

  .text-write-submit {
    width: 60vw;
  }

  .btn-submit {
    height: 100px;
    padding: 30px;
    margin-left: 10px;
    font-size: 26px;
  }

  .submit-result {
    height: 40px;
    min-width: 73px;
    margin-left: 10px;
    font-size: 26px;
  }

  .forbid-box {
    width: 75%;
    p {
      font-size: 24px;
      width: 70%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .notice-page {
    margin-top: 100px;
  }
  .notice-descript-box {
    width: 150px;
    height: 790px;
    margin-top: 60px;
    .p1 {
      width: 145px;
      margin-left: 10px;
      font-size: 18px;
    }
    .p2 {
      width: 145px;
      margin-left: 10px;
      font-size: 16px;
    }
  }

  .interface {
    width: 90%;
  }

  .notice-content {
    height: 170px;
    h6 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 600px) {
  .notice-page {
    margin-top: 0px;
  }
  .notice-descript-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 780px;
    width: 100%;
    height: auto;
    .p1 {
      width: 80%;
      font-size: 18px;
    }
    .p2 {
      width: 80%;
      font-size: 16px;
      margin: 20px 0px;
    }
  }

  .interface {
    top: 625px;
    width: 100%;
    height: 220px;
  }

  .btn-connect {
    margin-top: 50px;
    padding: 20px;
    font-size: 20px;
  }

  .forbid-box {
    top: 20px;
    width: 90%;
    p {
      font-size: 18px;
    }
  }

  .notice-input-text {
    font-size: 18px;
  }

  .text-write-submit {
    width: 90vw;
    height: 100px;
    margin-top: 20px;
  }

  .btn-submit {
    position: absolute;
    height: 50px;
    padding: 10px;
    margin-top: 125px;
    font-size: 20px;
  }

  .submit-result {
    position: absolute;
    height: 25px;
    min-width: 40px;
    padding: 20px;
    margin-top: 125px;
    font-size: 20px;
  }

  .notice-container {
    width: 100%;
  }

  .notice-content {
    width: 90%;
    height: auto;
    margin-left: 0px;
    h6 {
      font-size: 22px;
    }
    p {
      font-size: 16px;
    }
  }
}
