.old-container {
  display: flex;
}

.old-content {
  background-color: red;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 150px;
  z-index: -2;
  pointer-events: unset;

  li {
    margin: 20px 100px;
  }
}
.old-text {
  font-size: 24px;
  color: $second-color;
  pointer-events: none;
  span {
    color: $main-color;
  }
}

.old-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 300px;
  pointer-events: none;
  z-index: -2;
}

.info-box {
  background-color: red;
  position: absolute;
  background-color: rgba(40, 40, 40, 0.9);
  color: $color-white;
  font-family: $main-font-family;
  font-size: 25px;
  text-align: center;
  width: 400px;
  height: 300px;
  bottom: 10px;
  z-index: 2;
  span {
    color: $main-color;
  }
}

@media screen and (max-width: 1000px) {
  .old-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 150px;
    li {
      margin: 20px 15px;
    }
  }
  .old-text {
    font-size: 24px;
    color: $second-color;

    span {
      color: $main-color;
    }
  }

  .old-img {
    width: 280px;
    height: 190px;
    margin-top: 10px;
  }

  .info-box {
    position: relative;
    background-color: rgba(40, 40, 40, 0.9);
    color: $color-white;
    font-family: $main-font-family;
    font-size: 25px;
    text-align: center;
    width: 250px;
    height: 190px;
    margin-top: -215px;
    z-index: 2;
    span {
      color: $main-color;
    }
  }
}
