.prices-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  top: 200px;
}

.prices-img {
  object-fit: cover;
  position: relative;
  width: 800px;
  height: 650px;
  left: 150px;
  bottom: 100px;
}

.unit-container {
  width: 800px;
  left: 1000px;
  bottom: 100px;
  z-index: -2;
}

.unit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
  font-family: $main-font-family;
  color: $second-color;
  width: 600px;
  height: 300px;
  margin-left: 100px;
  span {
    color: $main-color;
    font-size: 96px;
    margin-left: 190px;
  }
}

@media screen and (max-width: 1720px) {
  .prices-img {
    display: none;
  }

  .unit-container {
    position: relative;
    left: 0px;
    top: 00px;
  }

  .unit {
    text-align: center;
    font-size: 44px;
    width: 700px;
    top: 200px;
    span {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .prices-container {
    justify-content: center;
    width: 200px;
    top: 100px;
    z-index: -2;
  }

  .prices-img {
    display: none;
  }

  .unit-container {
    // position: absolute;
    left: 100px;
    top: 120px;
  }

  .unit {
    text-align: center;
    font-size: 28px;
    width: 400px;
    height: 200px;
    span {
      font-size: 70px;
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 600px) {
  .unit-container {
    top: 100px;
    left: 00px;
  }

  .unit {
    font-size: 20px;
    width: 200px;
    span {
      font-size: 50px;
    }
  }
}
