.nav-page-phone-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  //filter: blur(4px);
}

.div-icon-menu {
  position: absolute;
  color: #777;
  left: 5px;
  #icon-menu-phone {
    font-size: 54px;
  }
}

.nav-phone {
  position: fixed;
  background-color: $main-color;
  left: 0px;
  width: 60vw;
  height: 100vh;
  z-index: 3;
  .nav-phone-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  li {
    margin-top: 50px;
  }
}

.item-nav-phone {
  color: $color-white;
  font-size: 32px;
  font-family: $main-font-family;
  text-decoration: none;
}
