@media screen and (max-width: 1000px) {
  .div-icon-menu {
    position: absolute;
    color: #777;
    left: 5px;
    top: 10px;
    #icon-menu-phone {
      font-size: 40px;
    }
  }

  .nav-phone {
    position: fixed;
    background-color: $main-color;
    top: 0px;
    left: 0px;
    width: 50vw;
    height: 100vh;
    z-index: 3;
  }

  .nav-phone-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  li {
    margin-top: 30px;
  }

  .li-net {
    position: relative;
    background-color: $main-color;
    width: 114px;
    height: 20px;
    left: -30px;
  }
  .network-li {
    text-decoration: none;
    font-size: 20px;
    color: $color-white;
    margin-left: 5px;
  }

  .li-por {
    position: relative;
    background-color: $main-color;
    width: 102px;
    height: 20px;
    left: -25px;
  }

  .portee-li {
    text-decoration: none;
    font-size: 20px;
    color: $color-white;
  }

  .item-nav-phone {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }

  #nav-phone-home {
    color: $color-white;
    font-size: 80px;
    position: absolute;
    bottom: 80px;
    left: 60px;
    color: #fff;
  }
}
